@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://hangeul.pstatic.net/hangeul_static/css/nanum-square-neo.css');


label:hover {
  cursor: pointer;
}

.memolock {
  height:calc(100vh - 100px);
}

body {
  margin: 0;
  font-family: 'NanumSquareNeoBold', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fafbfc;
	background-size: 400% 400%;
	animation: gradient 30s ease-in-out infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

pre {
  white-space: pre-wrap;
}

.ql-container {
  height:150px!important;
  background-color:white;
}

.ql-editor {
  height:150px!important;
}

.blurred-editor .ql-toolbar{
  display: none;
}


.ql-size-huge {
  font-size:1.875rem;
  line-height:2.25rem;
}
.ql-size-large {
  font-size:1.25rem;
  line-height:1.75rem
}
.ql-size-normal {
  font-size:1rem;
  line-height:1.5rem;
}

.ql-size-small {
  font-size:0.8rem;
  line-height:1.2rem;
}

.ql-align-center {
  text-align: center;
}

.ql-align-left {
  text-align:left;
}

.ql-align-right {
  text-align:right;
}

.signature-canvas {
  width: 100%;
  min-height:200px;
  border: 1px solid #e5e7eb;
  background-color:#fafafa;
}

.memo > ul > li:before {
  content:'- ';
  display:inline;
}

.memo > ol {
  margin-left:30px;
}

.memo > ol > li {
  list-style:decimal-leading-zero;
}

.giftcategory, .recommendListItem {
  word-break:keep-all;
  white-space:nowrap;
}

@media (max-width:800px){
  .giftCategoryMenu {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .giftCategoryMenu::-webkit-scrollbar {
    display: none;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox에서 화살표를 숨기기 위해 필요합니다 */
}

#content {
 min-height:600px;
}


#chkArea, #loginArea {
  max-width:550px;
}


#cancelArea, #joinArea {
  max-width:550px;
}

 #editArea {
  max-width:1000px;
}


#addrAPI {
  max-width:600px;
  height:600px;
}

.addrAPIInput {
  width:100%!important;
  height:100%!important;
}

.popupModal {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  width:100%;
  height:100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.popupModal > #addrAPI > .addrAPIInput > div {
  margin:0 auto;
}

#goodsList {
  min-height:100vh;
  overflow: auto;
}

.pageButton {
  background-color:white;
  padding:5px;
  border-radius:25%;
  box-shadow:0 0 3px rgba(0, 0, 0, 0.1);
  text-align:center;
  font-size:14px;
}

.selectedPage {
  background-color: #3b82f6!important;
  color:#fff!important
}

.mainCategory {
  width:96px!important;
  height:auto!important;
}

.jumbotron {
  min-height:400px;
}

div.footer-top {
  min-height:180px;
}


.loading-bg {
  width:100vw;
  min-height:100vh;
  background-color: white;
  opacity:0.7;
  position:fixed;
  top:0;
  left:0;
  z-index: 99999;
  overflow: hidden;
}

.loading-spin {
  z-index:100000;
}

.kakaobtn {
  background-color:#fee500;
}

.kakaobtn:hover {
  background-color:#e5cf00;
}

.popupArea {
  position:fixed;
  background-color:white;
  top:0;
  left:0;
  width:480px;
  height:900px;
}

.certArea {
  position:relative;
  width:540px;
  padding:2rem;
  max-width: 100%;
  min-height:600px;
}